

.LogoAlt{
  width: 187px;
  margin-bottom: 30px;
  .Footer__logo{
    width: 187px;
    height: 32px;
    margin-right: 158px;
  }
}



@media (max-width: 576px) {
  .LogoAlt{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 120px;
    .Footer__logo{
      width: 120px;
      height: 20px;

    }
  }

}